.pointForm {
    width: 80%;
    margin: 1rem auto 1rem auto;

    border-radius: 2rem;
    background-color: #61dafb;
}

.xRadioTable {
    margin-left: auto;
    margin-right: auto;
}

.xRadioTable tr {
    width: 30%;
    margin: 0.15rem;
}

.rRadioTable {
    margin-left: auto;
    margin-right: auto;
}

.rRadioTable tr {
    width: 43%;
    padding: 0.3rem;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 16%;
    margin: 3% 0.75%;
    text-align: center;
}


@media screen and (max-width: 600px) {
    .xRadioTable tr {
        width: 100%;
    }

    .rRadioTable tr {
        width: 100%;
    }

    .buttons button {
        width: 40%;
        margin: 8% 2%;
    }
}

@media screen and (min-width: 600px) {
    .xRadioTable tr {
        float: left;
    }

    .rRadioTable tr {
        float: left;
    }
}

@media screen and (min-width: 1187px) {
    .pointForm {
        width: 30%;
        float: left;
        margin-left: 1.5rem;
    }

    .buttons button {
        width: 20%;
        margin: 4% 1%;
    }
}